<% include partials/header %>

<div class="container">
    <div class="row h-100 align-items-center">

        <div class="col-12">
            <div>
                <a href="/checkout" class="btn btn-primary checkoutBtn">Checkout</a>
            </div>

            <table class="table table-striped table-dark order-history-table">
                <thead>
                    <tr>

                        <th scope="col">Items</th>

                        <th scope="col">Edit/Delete</th>


                    </tr>
                </thead>
                <tbody>
                    

                    <% cart.items.forEach(function(item){ %>
                    <tr>
                        <td>
                            <p class="item-name"><%= item.name %></p>
                            <% if (item.crust != "NA") { %>
                            <p class="item-crust"><%= item.crust  %></p>
                            <% } %>
                            <p class="item-toppings">
                                <% item.toppings.forEach(function(topping){ %>
                                <%= topping %> |
                                <% }); %>
                            </p>
                            <% if (item.size == "NA") { %>
                            <p class="item-details">Quantity: <%= item.quantity %> | Price:
                                $<%= item.totalprice %>
                            </p>
                            <% } else { %>
                            <p class="item-details">Size: <%= item.size %> | Quantity: <%= item.quantity %> | Price:
                                $<%= item.totalprice %>
                            </p>
                            <% } %>

                        </td>

                        <td>
                            <a href="/editCartItem/<%= item._id %>" class="cartEditButton">Edit</a> |
                            <a href="/deleteCartItem/<%= item._id %>" class="cartDeleteButton">Remove</a>
                        </td>

                    </tr>
                    <% }); %>
                    
                </tbody>
            </table>

            <h2>Final Price: $<%= cart.finalPrice %></h2>
        
        </div>

    </div>
</div>

<% include partials/footer %>